body {
    font-family: $font_main;
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="heading-"] {
    font-family: $font_heading;
    line-height: 1.2;
    margin: 0;
}

p,
li {
    margin: 0;
    line-height: 1.65;
    font-size: 1em;
}

p {
    margin: 1em 0;
}

a {
    text-decoration: none;
    color: black;
    transition: 250ms ease all;
}
