.loader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $background;
    z-index: 9999;
    transform: translateX(100%);

    &-1,
    &-2,
    &-3,
    &-4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: translateX(100%);
    }

    &-1 {
        background-color: $green;
    }

    &-2 {
        background-color: $blue;
    }

    &-3 {
        background-color: $purple;
    }

    &-4 {
        background-color: $background;
    }

    $speed: 400ms;
    $base_delay: $speed / 2;

    &.loading-enter {
        transition: $speed 0ms ease transform;
        transform: translateX(0);

        &-done,
        &-active {
            transition: $speed ($base_delay * 0) ease all;
            transform: translateX(0);
            .loader-1 {
                transition: $speed ($base_delay * 1) ease all;
                transform: translateX(0);
            }
            .loader-2 {
                transition: $speed ($base_delay * 2) ease all;
                transform: translateX(0);
            }
            .loader-3 {
                transition: $speed ($base_delay * 3) ease all;
                transform: translateX(0);
            }
            .loader-4 {
                transition: $speed ($base_delay * 4) ease all;
                transform: translateX(0);
            }
        }
    }

    &.loading-exit {
        transform: translateX(0%);

        .loader {
            &-1,
            &-2,
            &-3,
            &-4 {
                transform: translateX(-100%);
            }
        }

        &-done,
        &-active {
            transition: 750ms 250ms ease all;
            opacity: 0;
            visibility: hidden;

            .loader-1 {
                transition: $speed ($base_delay * 3) ease all;
                transform: translateX(-100%);
            }
            .loader-2 {
                transition: $speed ($base_delay * 2) ease all;
                transform: translateX(-100%);
            }
            .loader-3 {
                transition: $speed ($base_delay * 1) ease all;
                transform: translateX(-100%);
            }
            .loader-4 {
                transition: $speed ($base_delay * 0) ease all;
                transform: translateX(-100%);
            }
        }
    }
}
