.page-content {
    padding: 48px 0;
    background-color: white;

    &__project-content {
        // margin: 48px auto;
        margin-top: 0;
        // text-align: center;
        // max-width: 800px;
        padding-right: 50px;
        margin-bottom: 48px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    @include breakpoint(md) {
        padding: 96px 0;

        &__project-content {
            @include breakpoint(md) {
                // margin: 96px auto;
            }
        }
    }
}
