{
    "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "react/jsx-indent-props": false,
        "react/jsx-indent": [true, "4"],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/jsx-one-expression-per-line": [false],
        "react/jsx-wrap-multilines": false,
        "no-debugger": "warn",
        "react/no-danger": false,
        "react/no-array-index-key": false,
        "react/forbid-prop-types": false,
        "react/destructuring-assignment": false,
        "react/no-unused-prop-types": "warn",
        "no-console": "off",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off",
        "no-prototype-builtins": "off",
        "no-new": "off",
        "no-param-reassign": "off",
        "import/prefer-default-export": "off",
        "import/no-named-as-default-member": "off",
        "no-underscore-dangle": "off"
    }
}
