<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sam Davis - Front End Developer</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        {% if production %}
            <link rel="stylesheet" href="/css/main.css?v={{stylesheetHash}}">
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/js/bundle.js?v={{jsBundleHash}}"></script>
    </body>
</html>
