.work-tile {
    position: relative;
    transform: translateY(0);
    transition: 0.2s ease box-shadow;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba($black, 0.2);
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem;

    &:nth-child(even) {
        text-align: right;

        .header-image {
            &::before {
                transform: translateX(100%);
            }
        }
    }

    &:hover {
        box-shadow: 0 10px 30px rgba($black, 0.3);

        .work-tile__thumb {
            transform: scale(1.1);

            &::before {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    &__thumb {
        @extend %coverImage;
        @include absolutelyFull;
        transition: 1s ease transform;
        border-radius: 10px;
        z-index: 0;

        &::before {
            @include absolutelyFull;
            opacity: 0;
            transition: 1s ease all;
            background-color: rgba(black, 0.3);
            content: "";
        }

        &::after {
            @include absolutelyFull;
            transition: 1s ease opacity;
            background-color: $black;
            content: "";
            opacity: 0.1;
        }
    }

    &__content {
        position: relative;
        color: $white;
        z-index: 1;
    }

    &__title {
        font-size: 22px;
    }

    &__subtitle {
        font-family: $font_mono;
    }

    &__buttons {
        margin-bottom: 0;
    }

    @include breakpoint(sm) {
        padding: 10rem 3rem 3rem;
    }

    @include breakpoint(md) {
        padding: 15rem 3rem 3rem;

        &__title {
            font-size: 31px;
        }
    }
}
