@import "constants/constants";
@import "core/fonts";
@import "core/typography";
@import "components/atoms/button";

#tinymce {
    padding: 1rem !important;

    p:first-child {
        margin-top: 0 !important;
    }

    p:last-child {
        margin-bottom: 0 !important;
    }
}
